<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html">
        <img 
          src="./img/logo_YOUR_ENERGY.svg" 
          alt="YOUR ENERGY" 
          width="132" 
          height="24"
          style="padding: 5px 0.47px 5px 0px;"
        >
      </a>
      <ul class="nav-list">
        <!-- Временно закомментировано
        <li class="nav-item">
          <a class="nav-link add-task-link" href="#" id="addTaskBtn">+</a>
        </li>
        -->
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr}" href="./task-management.html">Task Manager</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
