<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero</title>
    <link rel="stylesheet" href="/src/css/hero.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <section class="hero">
      <div class="desktop-elements">
        <div class="desktop-first-column-wrapper">
          <div class="heading">
            <img
              class="sunhero"
              src="/src/img/sun.png"
              alt="sun icon"
              loading="lazy"
            />
            <h1>
              Get <span class="italic">Body</span> in shape,<br />
              <span class="align-stay">Stay healthy</span>
            </h1>
          </div>
          <h3 class="subtitle">
            Transform your physique and embrace a healthier lifestyle with our
            comprehensive fitness and nutrition support.
          </h3>
        </div>
        <div class="desktop-second-column-wrapper">
          <div class="image-container">
            <picture>
              <source
                srcset="
                  /src/img/image_mobile_1x_webp.webp 1x,
                  /src/img/image_mobile_2x_webp.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  /src/img/image_mobile_1x_jpg.jpg 1x,
                  /src/img/image_mobile_2x_jpg.jpg 2x
                "
                type="image/png"
              />
              <img
                class="hero-image mobile-image"
                src="/src/img/image_mobile_1x_jpg.jpg"
                alt="Young women giving a high-five"
                loading="lazy"
              />
            </picture>
            <picture>
              <source
                srcset="
                  /src/img/image_tablet_1x_webp.webp 1x,
                  /src/img/image_tablet_2x_webp.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  /src/img/image_tablet_1x_jpg.jpg 1x,
                  /src/img/image_tablet_2x_jpg.jpg 2x
                "
                type="image/png"
              />
              <img
                class="hero-image tablet-image"
                src="/src/img/image_tablet_1x_jpg.jpg"
                alt="Young women giving a high-five"
                loading="lazy"
              />
            </picture>

            <picture>
              <source
                srcset="
                  /src/img/image_desktop_1x_webp.webp 1x,
                  /src/img/image_desktop_2x_webp.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  /src/img/image_desktop_1x_jpg.jpg 1x,
                  /src/img/image_desktop_2x_jpg.jpg 2x
                "
                type="image/png"
              />
              <img
                class="hero-image desktop-image"
                src="/src/img/image_desktop_1x_jpg.jpg"
                alt="Young women giving a high-five"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="hashtags">
            <p>#Sport</p>
            <p>#Healthy</p>
            <p>#Workout</p>
            <p>#Diet</p>
          </div>
        </div>
      </div>
      <div class="long-desktop-image">
        <picture>
          <source
            srcset="
              /src/img/desktop_high_five_1x_webp.webp 1x,
              /src/img/desktop_high_five_2x_webp.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              /src/img/desktop_high_five_1x_jpg.jpg 1x,
              /src/img/desktop_high_five_2x_jpg.jpg 2x
            "
            type="image/png"
          />
          <img
            class="desktop-image"
            src="/src/img/desktop_high_five_1x_jpg.jpg"
            alt="Young women giving a high-five"
            loading="lazy"
          />
        </picture>
      </div>
    </section>
  </body>
</html>
