<div class="hero">

  <div class="hero__text-content">
    <div class="hero__title-wrapper">
      <img
        class="hero__sun-icon"
        src="/img/hero_images/sun.png"
        alt="sun icon"
        loading="lazy"
      />
      <h1 class="hero__title">
        Get <span class="hero__title--italic">Body</span> in shape,<br />
        <span class="hero__title--indented">Stay healthy</span>
      </h1>
    </div>
    <h3 class="hero__description">
      Transform your physique and embrace a healthier lifestyle with our
      comprehensive fitness and nutrition support.
    </h3>
  </div>

  <div class="hero__media-content">
    <div class="hero__images">
      <picture>
        <source
          srcset="
            /img/hero_images/image_mobile_1x_webp.webp 1x,
            /img/hero_images/image_mobile_2x_webp.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            /img/hero_images/image_mobile_1x_jpg.jpg 1x,
            /img/hero_images/image_mobile_2x_jpg.jpg 2x
          "
          type="image/jpeg"
        />
        <img
          class="hero__image hero__image--mobile"
          src="/img/hero_images/image_mobile_1x_jpg.jpg"
          alt="Young women giving a high-five"
          loading="lazy"
        />
      </picture>
      <picture>
        <source
          srcset="
            /img/hero_images/image_tablet_1x_webp.webp 1x,
            /img/hero_images/image_tablet_2x_webp.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            /img/hero_images/image_tablet_1x_jpg.jpg 1x,
            /img/hero_images/image_tablet_2x_jpg.jpg 2x
          "
          type="image/jpeg"
        />
        <img
          class="hero__image hero__image--tablet"
          src="/img/hero_images/image_tablet_1x_jpg.jpg"
          alt="Young women giving a high-five"
          loading="lazy"
        />
      </picture>
      <picture>
        <source
          srcset="
            /img/hero_images/image_desktop_1x_webp.webp 1x,
            /img/hero_images/image_desktop_2x_webp.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            /img/hero_images/image_desktop_1x_jpg.jpg 1x,
            /img/hero_images/image_desktop_2x_jpg.jpg 2x
          "
          type="image/jpeg"
        />
        <img
          class="hero__image hero__image--desktop"
          src="/img/hero_images/image_desktop_1x_jpg.jpg"
          alt="Young women giving a high-five"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="hero__tags">
      <p class="hero__tag">#Sport</p>
      <p class="hero__tag">#Healthy</p>
      <p class="hero__tag">#Workout</p>
      <p class="hero__tag">#Diet</p>
    </div>
  </div>

  <div class="hero__wide-image">
    <picture>
      <source
        srcset="
          /img/hero_images/desktop_high_five_1x_webp.webp 1x,
          /img/hero_images/desktop_high_five_2x_webp.webp 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          /img/hero_images/desktop_high_five_1x_jpg.jpg 1x,
          /img/hero_images/desktop_high_five_2x_jpg.jpg 2x
        "
        type="image/jpeg"
      />
      <img
        class="hero__image--wide"
        src="/img/hero_images/desktop_high_five_1x_jpg.jpg"
        alt="Young women giving a high-five"
        loading="lazy"
      />
    </picture>
  </div>
</div>
