<section class="hero">
  <div class="desktop-elements">
    <div class="desktop-first-column-wrapper">
      <div class="heading">
        <img
          class="sunhero"
          src="/img/sun.png"
          alt="sun icon"
          loading="lazy"
        />
        <h1>
          Get <span class="italic">Body</span> in shape,<br />
          <span class="align-stay">Stay healthy</span>
        </h1>
      </div>
      <h3 class="subtitle">
        Transform your physique and embrace a healthier lifestyle with our
        comprehensive fitness and nutrition support.
      </h3>
    </div>
    <div class="desktop-second-column-wrapper">
      <div class="image-container">
        <picture>
          <source
            srcset="
              /img/image_mobile_1x_webp.webp 1x,
              /img/image_mobile_2x_webp.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              /img/image_mobile_1x_jpg.jpg 1x,
              /img/image_mobile_2x_jpg.jpg 2x
            "
            type="image/png"
          />
          <img
            class="hero-image mobile-image"
            src="/img/image_mobile_1x_jpg.jpg"
            alt="Young women giving a high-five"
            loading="lazy"
          />
        </picture>
        <picture>
          <source
            srcset="
              /img/image_tablet_1x_webp.webp 1x,
              /img/image_tablet_2x_webp.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              /img/image_tablet_1x_jpg.jpg 1x,
              /img/image_tablet_2x_jpg.jpg 2x
            "
            type="image/png"
          />
          <img
            class="hero-image tablet-image"
            src="/img/image_tablet_1x_jpg.jpg"
            alt="Young women giving a high-five"
            loading="lazy"
          />
        </picture>

        <picture>
          <source
            srcset="
              /img/image_desktop_1x_webp.webp 1x,
              /img/image_desktop_2x_webp.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              /img/image_desktop_1x_jpg.jpg 1x,
              /img/image_desktop_2x_jpg.jpg 2x
            "
            type="image/png"
          />
          <img
            class="hero-image desktop-image"
            src="/img/image_desktop_1x_jpg.jpg"
            alt="Young women giving a high-five"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="hashtags">
        <p>#Sport</p>
        <p>#Healthy</p>
        <p>#Workout</p>
        <p>#Diet</p>
      </div>
    </div>
  </div>
  <div class="long-desktop-image">
    <picture>
      <source
        srcset="
          /img/desktop_high_five_1x_webp.webp 1x,
          /img/desktop_high_five_2x_webp.webp 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          /img/desktop_high_five_1x_jpg.jpg 1x,
          /img/desktop_high_five_2x_jpg.jpg 2x
        "
        type="image/png"
      />
      <img
        class="desktop-image"
        src="/img/desktop_high_five_1x_jpg.jpg"
        alt="Young women giving a high-five"
        loading="lazy"
      />
    </picture>
  </div>
</section>
