<div class="sidebar-container">
  <div class="sidebar-quote-container">
    <svg
      class="sidebar-quote-ranner-svg"
      viewBox="0 0 32 32"
      height="30"
      width="32"
      aria-hidden="true"
    >
      <use x="0" y="0" href="./img/icons.svg#icon-running"></use>
    </svg>
    <div class="sidebar-quote-wrapper">
      <h3 class="sidebar-quote-of-day">Quote of the day</h3>
      <div class="sidebar-quote"></div>
      <div class="sidebar-quote-author"></div>
    </div>
    <svg
      class="sidebar-quote-commas-svg"
      viewBox="0 0 32 32"
      width="24"
      height="24"
      aria-hidden="true"
    >
      <use x="0" y="0" href="./img/icons.svg#icon-commas"></use>
    </svg>
  </div>
  <picture>
    <source
      media="(min-width: 1440px)"
      srcset="
        ./img/sidebar/sidebar-img-desktop@1x.jpg 1x,
        ./img/sidebar/sidebar-img-desktop@2x.jpg 2x
      "
    />
    <source
      media="(min-width: 768px)"
      srcset="
        ./img/sidebar/sidebar-img-tablet@1x.jpg 1x,
        ./img/sidebar/sidebar-img-tablet@2x.jpg 2x
      "
    />
    <img
      class="sidebar-quote-image"
      srcset="
        ./img/sidebar/sidebar-img-mobile@1x.jpg 1x,
        ./img/sidebar/sidebar-img-mobile@2x.jpg 2x
      "
      src="./img/sidebar/sidebar-img-mobile@1x.jpg"
      alt="sidebar-container"
      loading="lazy"
    />
  </picture>
  <div class="sidebar-sports-info">
    <svg
      class="sidebar-quote-dumbbell-svg"
      viewBox="0 0 32 32"
      height="30"
      width="32"
      aria-hidden="true"
    >
      <use x="0" y="0" href="./img/icons.svg#icon-dumbbell"></use>
    </svg>
    <div class="sidebar-sports-wrapper">
      <div class="sidebar-time">110 min</div>
      <p class="sidebar-norm-sport">Daily norm of sports</p>
      <div class="static-info">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day? While it might seem like a high number to hit,
        dedicating 110 minutes daily to sporting activities may offer
        unparalleled benefits to physical health, mental well-being, and overall
        quality of life.
      </div>
    </div>
  </div>
</div>
