:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  --black-color: #242424;
  --white-color: #f4f4f4;
  --border-color: rgba(36, 36, 36, 0.1);
  --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --anim-duration: 250ms;
  --anim-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf')
    format('truetype');
  font-weight: 400 500;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf')
    format('truetype');
  font-weight: 400 500;
  font-style: italic;
}

button {
  cursor: pointer;
  border: none;
  display: block;
  padding: 0;
  background-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--white-color);
  /* margin: 0; */
}

.main-fitnes-content {
  display: grid;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 600px;
  height: fit-content;
  gap: 10px;
  overflow-anchor: none;
  scroll-behavior: auto;
}
.main-fitnes-content .m-filters {
  grid-area: search;
  width: 100%;
}
.main-fitnes-content .m-sidebar {
  grid-area: sidebar;
  width: 100%;
}
.main-fitnes-content .m-content {
  grid-area: content;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 600px;
}

.m-categories,
.m-workouts {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: inherit;
  scroll-behavior: auto;
  overflow-anchor: none;
}

.categories-wrap,
.workouts-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.categories-list,
.workouts-container-list {
  flex: 1;
  margin: 20px auto;
}

.m-pagination {
  margin-top: auto;
  padding-top: 20px;
  width: 100%;
}

.workouts-pagination,
.categories-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  cursor: pointer;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .main-fitnes-content {
    grid-template-areas:
      'search'
      'content' /* Теперь content включает и пагинацию */
      'sidebar';
  }
}

@media screen and (orientation: landscape) and (min-width: 768px) and (max-height: 550px) {
  .main-fitnes-content {
    grid-template-areas:
      'search search'
      'sidebar content'
      'pagination pagination';
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .main-fitnes-content {
    grid-template-areas:
      'search'
      'content'
      'pagination'
      'sidebar';
  }
}
@media screen and (min-width: 1280px) {
  .main-fitnes-content {
    grid-template-areas:
      'search search'
      'sidebar content'
      'pagination pagination';
    grid-template-columns: 350px 1fr;
  }
}

@media screen and (min-width: 1440px) {
  .main-fitnes-content .m-sidebar {
    grid-area: sidebar;
    width: 100%;
    max-width: 444px;
    margin-left: 32px;
    margin-right: 32px;
  }
  body {
    /* background-color: "треба підбрати з тінями краів для боді" */
  }
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}

/* прибрати виккористовую в цілях тестування sidebar*/
main {
  display: flex;
  background-color: #f4f4f4;
  flex-direction: column;
}

.hidden {
  display: none;
}
.sticky {
  position: fixed;
  top: 28px;
  left: 50%;
  z-index: 10;
  transform: translateX(-64%);
}
@media screen and (min-width: 768px) {
  main {
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  main {
    flex-direction: row;
  }
}
/* прибрати виккористовую в цілях тестування sidebar*/

html {
  scroll-behavior: smooth; /* Делаем прокрутку плавной */
}
