:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  --black-color: #242424;
  --white-color: #f4f4f4;
  --border-color: rgba(36, 36, 36, 0.1);
  --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --anim-duration: 250ms;
  --anim-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf')
    format('truetype');
  font-weight: 400 500;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf')
    format('truetype');
  font-weight: 400 500;
  font-style: italic;
}

button {
  cursor: pointer;
  border: none;
  display: block;
  padding: 0;
  background-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--white-color);
  /* margin: 0; */
}



.m-categories,
.m-workouts {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: inherit;
  scroll-behavior: auto;
  overflow-anchor: none;
}

.categories-wrap,
.workouts-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.m-pagination {
  margin-top: auto;
  width: 100%;
}

.workouts-pagination,
.categories-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  cursor: pointer;
}


main:has(.back-link) {
  text-align: center;
}

/* прибрати виккористовую в цілях тестування sidebar*/
main {
  display: flex;
  background-color: #f4f4f4;
  flex-direction: column;
}

.hidden {
  display: none;
}
.sticky {
  position: fixed;
  top: 28px;
  left: 50%;
  z-index: 10;
  transform: translateX(-64%);
}
@media screen and (min-width: 768px) {
  main {
    flex-direction: column;
  }
}

/* прибрати виккористовую в цілях тестування sidebar*/

html {
  scroll-behavior: smooth; /* Делаем прокрутку плавной */
}
