.categories-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.categories {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.categories-wrap {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.categories-list {
  width: 335px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}
.categories-item {
  width: 100%;
  height: 225px;
  background-color: rgb(181, 179, 183);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.categories-item:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(
    0deg,
    rgba(17, 17, 17, 0.5) 0%,
    rgba(17, 17, 17, 0.5) 100%
  );
  border-radius: 12px;
  z-index: 1;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.categories-item:hover,
.categories-item:focus {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  scale: 1.01;
}

.categories-item-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #f4f4f4;
  position: relative;
  z-index: 2;
  text-transform: capitalize;
}

.categories-item-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(244, 244, 244, 0.4);
}

.categories-pagination {
  margin-top: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .categories-list {
    width: 705px;
    gap: 32px 15px;
    margin-bottom: 32px;
  }

  .categories-item {
    width: calc((100% - 2 * 15px) / 3);
  }
}

@media (min-width: 1440px) {
  .categories-list {
    width: 900px;
  }
  .categories-item {
    height: 242px;
  }
}
