/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}



.heading {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 20px;
    justify-content: left;
}

.heading img.sunhero {
    width: 38px;
    height: 38px;
    margin-top: 5px;
}

.heading h1 {
    font-weight: 400;
    font-size: 33px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #242424;
    text-align: left;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.italic {
    font-style: italic;
}

.subtitle {
    font-family: "DM Sans", sans-serif;
    letter-spacing: -0.02em;
    color: #242424;
    font-size: 14px;
    line-height: 1.28571;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 400;
    width: 335px;
}

.hero-image {
    width: 335px;
    height: 460px;
    overflow: hidden;
    border-radius: 30px;
    margin-bottom: 20px;
}

.hashtags {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    flex-wrap: wrap;
    color: #242424;
}

.hashtags p {
    border: solid black 1px;
    padding: 5px 12px;
    border-radius: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    color: #242424;
}

/* Hide images by default */
.mobile-image,
.tablet-image,
.desktop-image {
    display: none;
}

.long-desktop-image img {
    display: none;
}

.align-stay {
    display: inline-block;
    position: relative;
    left: -45px;
    /* Adjust the indentation as needed */
}

/* Mobile styles */
@media screen and (max-width: 767px) {
    .mobile-image {
        display: block;
    }
}

/* Tablet styles */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    
    .tablet-image {
        display: block;
    }

    .hero {
        width: calc(100% - 64px);
        margin-top: 176px;
        border-radius: 60px;
    }

    .heading img.sunhero {
        width: 59px;
        height: 59px;
    }

    .heading h1 {
        font-size: 74px;
        line-height: 1;
        text-shadow: none;
    }

    .subtitle {
        font-size: 18px;
        line-height: 1.3333;
        margin-bottom: 32px;
        width: 528px;
    }

    .image-container {
        width: calc(100% - 64px);
        height: 550px;
    margin-bottom: 16px;}

    .hero-image {
        width: 736px;
        height: 550px;
        border-radius: 60px;
        
      }
        

    .hashtags {
        justify-content: flex-end;
        font-size: 16px;
    }

    .long-desktop-image img {
        display: none;
    }

        .align-stay {
            display: inline-block;
            position: relative;
            left: -65px;
            /* Adjust the indentation as needed */
        }
}

/* Desktop styles */
@media screen and (min-width: 1200px) {

    .hero {
            width: calc(100% - 64px);
            margin-top: 176px;
            border-radius: 60px;
        }

    .desktop-image {
        display: block;
        width: 168px;
        height: 100px;
        align-self: center;
    }

    .long-desktop-image img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 15px;
    }

    .heading img.sunhero {
        width: 59px;
        height: 59px;
    }

    .desktop-elements {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 20px;
        align-items: center;
    }

    .desktop-first-column-wrapper {
        grid-column: 1 / 2;
    }

    .desktop-second-column-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        gap: 15px;
    }

    .image-container {
        display: flex;
        justify-content: flex-end;
        width: 168px;
        height: 100px;
    }

    .hashtags {
        gap: 8px;
        justify-content: flex-end;
    }

    .hashtags p {
        font-size: 16px;
    }

    .subtitle {
        font-size: 18px;
        width: 528px;
        line-height: 1.3333;
    }

    .heading h1 {
        font-size: 74px;
        line-height: 1;
        text-shadow: none;
    }

    .align-stay {
        display: inline-block;
        position: relative;
        left: -65px;
        /* Adjust the indentation as needed */
    }
}