.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
  padding: 80px 0;
}

.sidebar-quote-container {
  background: var(--black-color);
  border-radius: 20px;
  padding: 20px;
}

.sidebar-quote {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: rgba(244, 244, 244, 0.6);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  font-family: 'DM Sans', sans-serif;  
  margin-bottom: 16px;
}

.sidebar-quote-of-day {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: var(--white-color);
  margin-bottom: 8px;
}

.sidebar-norm-sport {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: rgba(36, 36, 36, 0.6);
  margin-bottom: 16px;
}

.sidebar-quote-image {
  border-radius: 20px;
}

.sidebar-quote-author,
.static-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: var(--white-color);
  font-family: 'DM Sans', sans-serif;
}

.sidebar-sports-info {
  border-radius: 20px;
  background: white;
  padding: 20px 20px 20px 72px;
  display: flex;
  position: relative;
}

.sidebar-norm-sport,
.static-info {
  color: rgba(36, 36, 36, 0.6);
}

.sidebar-quote-container {
  background: var(--black-color);
  border-radius: 20px;
  padding: 20px 20px 20px 72px;
  position: relative;
  display: flex;
}

.sidebar-quote-commas-svg,
.sidebar-quote-ranner-svg {
  fill: var(--white-color);
  position: absolute;
}

.sidebar-quote-dumbbell-svg {
  background-color: var(--black-color);
  padding: 0px 4px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
}

.sidebar-quote-ranner-svg {
  left: 20px;
  background-color: rgba(244, 244, 244, 0.2);
  padding: 0px 4px;
  border-radius: 50%;
}

.sidebar-quote-commas-svg {
  right: 20px;
  width: 20px;
  height: 20px;
}

.sidebar-time {
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  color: var(--black-color);
  font-family: 'DM Sans', sans-serif;
  margin-bottom: 2px;
}

.static-info {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

@media screen and (min-width: 335px) {
.sidebar-container {
  width: 335px;
}
}
@media screen and (min-width: 768px) {
  .sidebar-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 705px;
    gap: 32px 16px;
    padding: 64px 0 100px;
  }

  .sidebar-quote-ranner-svg,
  .sidebar-quote-dumbbell-svg {
    left: 40px;
  }

  .sidebar-quote-commas-svg {
    right: 40px;
    width: 24px;
    height: 24px;
  }

  .sidebar-sports-info,
  .sidebar-quote-container {
    padding: 40px 40px 40px 90px;
  }


  .sidebar-quote-container,
  .sidebar-sports-info {
    max-width: 400px;
  }
  .sidebar-quote-image {
    width: 288px;
    height: 249px;
  }
}

@media screen and (min-width: 1440px) {
  .sidebar-quote-of-day {
    margin-bottom: 6px;
  }

  .sidebar-quote-author {
    padding-top: 8px;
  }

  .sidebar-quote-container,
  .sidebar-sports-info {
    max-width: none;
  }

  .sidebar-quote-container {
    height: 242px;
  }

  .sidebar-quote-image {
    min-height: 225px;
    object-fit: cover;
  }

  div.static-info {
    display: block;
    padding-top: 20px;
  }

  .categories-wrap {
    order: 2;
  }

  picture,
  .sidebar-quote-image {
    width: 100%;
  }

  .sidebar-container {
    gap: 32px;
    padding-top: 0;
  }
}
