.m-workouts {
  width: 100%;
}

.workouts-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.workouts-container-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 20px auto;
  width: 100%;
  max-width: 335px;
}

.workouts-card {
  border-radius: 15px;
  background: white;
  padding: 16px;
  position: relative;
  max-height: 152px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.card-header_left-side,
.card-header .rating-container {
  display: flex;
  align-items: center;
}

.card-header .label,
.card-header .rating,
.workout-start-btn,
.card-content .title,
.card-footer_item,
.card-footer_item .strong {
  color: var(--black-color);
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
}

.card-header .label {
  font-weight: 500;
  line-height: normal;
  padding: 5px 8px;
  border-radius: 15px;
  border: 1px solid #242424;
  text-transform: uppercase;
}

.card-header .rating {
  line-height: 1.5;
  margin-right: 4px;
  margin-left: 16px;
}

.card-header .trash-container {
  display: flex;
  margin-left: 8px;
}

.workout-start-btn {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  line-height: 1.3;
}

.workout-start-btn svg {
  stroke: var(--black-color);
}

.card-content {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.card-content .card-icon {
  width: 24px;
  height: 24px;
}

.card-icon {
  left: 20px;
  background-color: black;
  padding: 0px 4px;
  border-radius: 50%;
  fill: var(--white-color);
}

.card-content .title {
  font-size: 20px;
}

.card-footer_items {
  display: flex;
  justify-content: left;
  gap: 16px;
  white-space: nowrap;
}

.card-footer_item {
  display: flex;
  gap: 2px;
  color: rgba(36, 36, 36, 0.4);
  line-height: 1.5;
}

.card-footer_item .strong {
  line-height: 1.5;
  text-transform: capitalize;
}

.card-footer_item .item-two {
  width: 31px;
}

.card-header .hide {
  display: none;
}

@media screen and (min-width: 768px) {
  .workouts-container-list {
    grid-template-columns: repeat(2, 1fr);
    max-width: 705px;
    gap: 32px 15px;
  }

  .workouts-container {
    margin: 0 auto;
  }

  .card-content {
    margin-bottom: 8px;
  }
}

.text-overflow {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.workouts-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .workouts-container {
    width: 900px;
    padding-left: 6px;
  }

  .workouts-card {
    border-radius: 15px;
    background: white;
    padding: 16px;
    position: relative;
    max-height: 152px;
    width: 442px;
  }

  .workouts-container-list {
    margin: 0;
  }
}
