.pagination {
  display: flex;
  font-size: 24px;
  gap: 20px;
  color: lightgray;
  order: 2;
}
.pagination p {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}
.selected {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 1);
  transition: 0.2s ease-in-out;
  color: black;
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 1280px) {
  /*це можна видалити додала для того щоб було видно результат*/
  .pagination {
    position: absolute;
    bottom: 0;
  }
}
